html {
    height: 100%;
}

body{
    background-color: gainsboro;
    height: 100%;
    margin: 0;
    font-smooth: never;
    -webkit-font-smoothing: none;
    font-family: "pokemon-font", monospace;
}

.center-container{
    background-color: #eeeeee;
}

.map-container{
    margin: 0;
}

.map-set-container{
    width: 1000px;
    height: 100%;
}

.map-row{
    width: 100%;
    margin: 0;
    clear:both; 
}

.square{
    outline: 1px solid;
    outline-offset: -1px;
    width: 5rem;
    height: 5rem;
    float: left;
}

.square[data-map-focus="true"]{
    animation: border-flash 1s linear infinite;
}

@keyframes border-flash {
    0%,100% {
        outline: 5px dashed rgba(255, 255, 255, 0.5);
        outline-offset: -5px;
    }
    50% {
        outline: 5px dashed rgba(255, 255, 255, 1);
        outline-offset: -5px;
    }
}

.unit{
    position: relative;
    z-index: 5;
}

.unit-img{
    position: relative;
    z-index: 10;
}

.action-window{
    width: 150px;
    height: 200px;
    position: relative;
    z-index: 20;
    top: -100px;
    left: 100px;
}

.action-menu{
    background-color: #fefefe;
    border: 2px solid;
    text-align: center;
}

.choice-action{
    animation: choice-action-flash 1s linear infinite;
}

.attack-functions-window{
    width: 250px;
    height: 200px;
    position: relative;
    z-index: 30;
    top: -300px;
    left: 260px;
}

.attack-function{
    background-color: #fefefe;
    border: 2px solid;
    text-align: center;
}

.choice-attack-function{
    animation: choice-action-flash 1s linear infinite;
}

.square[data-map-focus="true"]{
    animation: border-flash 1s linear infinite;
}

@keyframes choice-action-flash {
    0%,100% {
        background-color: #fff;
    }
    50% {
        background-color: #ccc;
    }
}

.movable{
    animation: movable-flash 2s linear infinite;
}

.attackable{
    animation: attackable-flash 2s linear infinite;
}

@keyframes movable-flash {
    0%,100% {
        opacity: 0.5;

    }
    50% {
        opacity: 0.2;
    }
}

@keyframes attackable-flash {
    0%,100% {
        opacity: 0.5;

    }
    50% {
        opacity: 0.2;
    }
}

.unit-preview{
    width: 5rem;
    float: right;
}
