html {
    height: 100%;
}

body{
    background-color: gainsboro;
    height: 100%;
    margin: 0;
}

.center-container{
    background-color: #eeeeee;
}

.map-container{
    margin: 0;
}

.map-set-container{
    width: 1000px;
    height: 100%;
}

.map-row{
    width: 100%;
    margin: 0;
    clear:both; 
}

.square{
    border: 1px solid;
    width: 95px;
    height: 95px;
    float: left;
}

.square[data-map-focus="true"]{
    box-sizing: border-box;
    animation: border-flash 1s linear infinite;
}

@keyframes border-flash {
    0%,100% {
        border: 6px dashed;
        border-color: rgba(255, 255, 255, 0.4)
    }
    50% {
        border: 6px dashed;
        border-color: rgba(255, 255, 255, 1)
    }
}